.profile-image {
    display: inline-block;
    max-width: 250px;
    height: auto;
    margin: 50px;
}

.profile-text {
    display: inline-grid;
}

.download-resume {
    padding: 0px;
    border-radius: 50px;
    height: 40px;
    color:white;
    font-size: 18px;
    background: #2b816e;
    margin-top: 10px;
    border: none;
    font-family: "Poppins", sans-serif;
    width: 300px;
}

/*--------------------------------------------------------------
# Floating download
--------------------------------------------------------------*/
.float-download {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    left: 15px;
    bottom: 15px;
    z-index: 996;
    transition: all 0.4s;
}

.download-resume:hover {
    background: #0678e3;
    color: #fff;
}
.float-download.active {
    visibility: visible;
    opacity: 1;
}

.about-icons {
    font-size: 2.5em;
}

.about-image {
    max-width: 350px;
}
